extends layout 

block content 
  h1= title
  ul
    each stat in stats 
      li= `${stat.name}: ${stat.number}`
  a(href=`${category._id}/delete`) Delete category
  section 
    h2 Items
    ul 
      each item in items 
        li
          a(href=item.url)= item.name
          p= item.description 
          p= item.stock
          p= '$'+item.price
      if items.length === 0
        li Currently no items