extends layout 

block content 
  h1= title
  ul.flex.stats.category-detail-stats
    each stat in stats 
      li #{stat.name}: #[strong #{stat.number}]
    li
      a(href=`${category._id}/update`) Update category 
    li
      a(href=`${category._id}/delete`) Delete category
  section 
    h2 Items
    ul.flex-col.items
      each item in items 
        li
          a.item-link(href=item.url)= item.name
          p= item.description 
          p Price: #[strong #{item.price_formatted}]
          p Qty: #[strong #{item.stock}]
          p Total Value: #[strong #{item.totalVal}] 
      if items.length === 0
        li Currently no items