extends layout 

block content 
  h1= title
  ul.flex.category-stats
    each stat in stats 
      li #{stat.name}: #[strong #{stat.number}]
    li
      a(href=`${category._id}/update`) Update category 
    li
      a(href=`${category._id}/delete`) Delete category
  section 
    h2 Items
    ul 
      each item in items 
        li
          a(href=item.url)= item.name
          p= item.description 
          p Qty: #{item.stock}
          p= item.price_formatted
      if items.length === 0
        li Currently no items