extends layout 

block content 
  h1= title
  section
    p= item.name
    p= item.description
    p Price: #[strong #{item.price_formatted}]
    p Qty: #[strong #{item.stock}]
    p Total Value: #[strong #{item.totalVal}] 
  hr
  section.item-buttons
    div 
      a(href=`${item._id}/update`) Update item
    div 
      a(href=`${item._id}/delete`) Delete item